/* Practice css file */

.site-title{
  background-color: #815e8f;
  color: white;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 30px
  margin: 0px;
  padding: 10px 20px;
}

#top-navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

#top-navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#top-navbar-item {
  float: left;
  display: block;
  font-family: Helvetica;
  text-align: center;
  text-decoration: none;
  padding: 14px;
}

#container {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 1px;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 14px;
  padding: 10px 20px;
  margin: 5px 5px;

}
#button {
  border: none;
  color: white;
  background-color: #b99dc4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
