<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>75 Bugs Detected</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}} -->
    <script src="/static/update.js"></script>
    <script src="/static/delete.js"></script>
    <script src="/static/search.js"></script>

</head>

<body>
    {{{body}}}
</body>

</html>
